swagger: "2.0"

info:
  description: This is the HTTP API for Feersum NLU. See https://github.com/praekelt/feersum-nlu-api-wrappers for examples of how to use the API.
  version: 2.0.49
  title: FeersumNLU API
  contact:
    name: Feersum Engine
    url: https://www.feersum.io
    email: nlu@feersum.io

host: nlu.feersum.io:443

# basePath: /nlu/v2 (outdated; full path now specified in the endpoints.)

schemes:
  - https
#  - http

consumes:
- application/json
produces:
- application/json

# Global security (applies to all operations):
securityDefinitions:
   APIKeyHeader_old:
     type: apiKey
     x-apikeyInfoFunc: rest_api.flask_server.controllers.controller_util.api_key_auth
     in: header
     name: AUTH_TOKEN
   APIKeyHeader:
     type: apiKey
     x-apikeyInfoFunc: rest_api.flask_server.controllers.controller_util.api_key_auth
     in: header
     name: X-Auth-Token

security:
- APIKeyHeader_old: []
- APIKeyHeader: []

tags:
- name: dashboard
  description: A service endpoint to get your list of model instances. 'Try it out!' to see what models are already created for you.
- name: text_classifiers
  description: The API to your text classifier instances useful for things like classifying phrases into predefined action or intent categories. Create a model, add some training data, train it and start doing retrieve/inference calls. A variety of shallow to deep classifier algorithms and language models can be selected at training time from naive Bayes and SVM to fully connected neural classifiers using USent and Elmo features.
- name: text_datasets
  description: The API to your labelled text datasets useful for things like labelling data.
# - name: word_manifolds
#   description: The API to your word embedding model instances. The service is pre-loaded with default word embeddings sufficient for most use cases.
- name: intent_classifiers
  description: The API to your intent classifier model instances used to classify a user's utterance into a predefined action or intent category.
- name: faq_matchers
  description: The API to your FAQ matcher/classifier model instances useful to match a user's question to a list of predefined FAQs.
- name: language_recognisers
  description: The API to your language recogniser model instances. An 'lid_za' input model file is available and trained on all 11 South African languages. Create a model as shown and start doing language ident on your own text.
- name: lr4_language_recognisers
  description: The API to your lr4 language recogniser model instances (deprecated; please use language_recognisers instead). An 'lid_za' input model file is available and trained on all 11 South African languages. Create a model as shown and start doing language ident on your own text.
- name: date_parsers
  description: The API to a pre-configured 'generic' date parser.
- name: sentiment_detectors
  description: The API to a pre-configured low recall English sentiment detector. Contact us for other languages.
- name: emotion_classifiers
  description: The API to a pre-configured low recall English emotion classifier. Contact us for other languages.
- name: regex_entity_extractors
  description: The API to your regular expression entity extractor instances. The extractor returns and labels the text that matched the named regex patterns.
# - name: person_name_entity_extractors
#   description: The API to your person_name entity extractor instances. The extractor returns a list of person names found in the text.
- name: duckling_entity_extractors
  description: The API to your duckling entity extractor instances for things like dates, distances, volumes, etc. The extractor returns the text recognised as a duckling entity and its parsed/formatted value.
- name: sim_word_entity_extractors
  description: The API to your similar/related words entity extractor instances. The extractor returns the text that matched the listed targets words within the given threshold.
- name: synonym_entity_extractors
  description: The API to your synonym entity extractor instances. The extractor matches text to a number of synonym sets and returns the set label and matched text.
- name: crf_entity_extractors
  description: The API to your crf entity extractor instances. The extractor recognises words as entities within the context of the rest of the text. The extractor returns the entity label as well as the associated words from the text.
- name: data_objects
  description: The API to a general data_object store useful to hold general application data like user profiles, logs and tables. A data_object is, similar to a json object, of type JSONObj = Union[str, int, float, bool, None, Dict[str, JSONObj], List[JSONObj]].
- name: health
  description: An enpoint to check if the service is alive and well.
- name: api_keys
  description: An enpoint to manage API keys.
- name: image_classifiers
  description: The API to your image classifier instances. Create a model, add some training data, train it and start doing retrieve/inference calls.
- name: image_datasets
  description: The API to your labelled image datasets useful for things like labelling data. Store unlabelled samples with a label like '_unlabelled'.
- name: image_readers
  description: The API to your image reader instances.
- name: text_pipelines
  description: Build an NLU pipeline with annotators, extractors and classifiers. The annotators enrich the text with POS tags, etc. after which the classifiers and extractors run.


paths:
###################################
###################################
########
## dashboard root
########
  /dashboard/v2/dashboard:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - dashboard
      summary: Your root service dashboard. Same as POST endpoint, but doesn't allow params to be supplied to the operation.
      x-swagger-router-controller: rest_api.flask_server.controllers.dashboard_controller
      operationId: dashboard_get_details
      description: Get your list of model instances, the API version, etc. Same as POST endpoint, but doesn't allow params to be supplied to the operation.
      responses:
        200:
          $ref: "#/responses/dashboard_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    post:
      tags:
      - dashboard
      summary: Your root service dashboard. Same as GET endpoint, but allows params to be supplied to the operation.
      x-swagger-router-controller: rest_api.flask_server.controllers.dashboard_controller
      operationId: dashboard_get_details_with_params
      description: Get your list of model instances, the API version, etc. Same as GET endpoint, but allows params to be supplied to the operation.
      parameters:
      - in: body
        name: params
        description: Params like 'show_data_objects' that influence the dashboard's response.
        required: true
        schema:
          $ref: "#/definitions/dashboard_params"
      responses:
        200:
          $ref: "#/responses/dashboard_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## dashboard nlu
########
  /nlu/v2/dashboard:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - dashboard
      summary: Your nlu service dashboard. Same as POST endpoint, but doesn't allow params to be supplied to the operation.
      x-swagger-router-controller: rest_api.flask_server.controllers.dashboard_controller
      operationId: dashboard_nlu_get_details
      description: Get your list of model instances, the API version, etc. Same as POST endpoint, but doesn't allow params to be supplied to the operation.
      responses:
        200:
          $ref: "#/responses/dashboard_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    post:
      tags:
      - dashboard
      summary: Your nlu service dashboard. Same as GET endpoint, but allows params to be supplied to the operation.
      x-swagger-router-controller: rest_api.flask_server.controllers.dashboard_controller
      operationId: dashboard_nlu_get_details_with_params
      description: Get your list of model instances, the API version, etc. Same as GET endpoint, but allows params to be supplied to the operation.
      parameters:
      - in: body
        name: params
        description: Params like 'show_data_objects' that influence the dashboard's response.
        required: true
        schema:
          $ref: "#/definitions/dashboard_params"
      responses:
        200:
          $ref: "#/responses/dashboard_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## dashboard nlu
########
  /nlu/v2/params:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - params
      summary: Get the service params.
      x-swagger-router-controller: rest_api.flask_server.controllers.params_controller
      operationId: params_nlu_get
      description: Set the service params.
      responses:
        200:
          $ref: "#/responses/service_params"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    post:
      tags:
      - params
      summary: Set the service params.
      x-swagger-router-controller: rest_api.flask_server.controllers.params_controller
      operationId: params_nlu_set
      description: Set the service params.
      parameters:
      - in: body
        name: params
        required: true
        schema:
          $ref: "#/definitions/service_params"
      responses:
        200:
          $ref: "#/responses/service_params"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## dashboard vision
########
  /vision/v2/dashboard:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - dashboard
      summary: Your vision service dashboard. Same as POST endpoint, but doesn't allow params to be supplied to the operation.
      x-swagger-router-controller: rest_api.flask_server.controllers.dashboard_controller
      operationId: dashboard_vision_get_details
      description: Get your list of model instances, the API version, etc. Same as POST endpoint, but doesn't allow params to be supplied to the operation.
      responses:
        200:
          $ref: "#/responses/dashboard_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    post:
      tags:
      - dashboard
      summary: Your vision service dashboard. Same as GET endpoint, but allows params to be supplied to the operation.
      x-swagger-router-controller: rest_api.flask_server.controllers.dashboard_controller
      operationId: dashboard_vision_get_details_with_params
      description: Get your list of model instances, the API version, etc. Same as GET endpoint, but allows params to be supplied to the operation.
      parameters:
      - in: body
        name: params
        description: Params like 'show_data_objects' that influence the dashboard's response.
        required: true
        schema:
          $ref: "#/definitions/dashboard_params"
      responses:
        200:
          $ref: "#/responses/dashboard_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## dashboard audio
########
  /audio/v2/dashboard:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - dashboard
      summary: Your audio service dashboard. Same as POST endpoint, but doesn't allow params to be supplied to the operation.
      x-swagger-router-controller: rest_api.flask_server.controllers.dashboard_controller
      operationId: dashboard_audio_get_details
      description: Get your list of model instances, the API version, etc. Same as POST endpoint, but doesn't allow params to be supplied to the operation.
      responses:
        200:
          $ref: "#/responses/dashboard_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    post:
      tags:
      - dashboard
      summary: Your audio service dashboard. Same as GET endpoint, but allows params to be supplied to the operation.
      x-swagger-router-controller: rest_api.flask_server.controllers.dashboard_controller
      operationId: dashboard_audio_get_details_with_params
      description: Get your list of model instances, the API version, etc. Same as GET endpoint, but allows params to be supplied to the operation.
      parameters:
      - in: body
        name: params
        description: Params like 'show_data_objects' that influence the dashboard's response.
        required: true
        schema:
          $ref: "#/definitions/dashboard_params"
      responses:
        200:
          $ref: "#/responses/dashboard_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

###################################
###################################
########
## text_classifiers root
########
  /nlu/v2/text_classifiers:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Create a text classifier.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_create
      description: Create a new text classifier or reload one from the trash. Returns the details of the instance.
      parameters:
      - in: body
        name: create_details
        description: The details of the instance to create.
        required: true
        schema:
          $ref: "#/definitions/text_classifier_create_details"

      responses:
        200:
          $ref: "#/responses/text_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - text_classifiers
      summary: Get list of text classifiers.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_get_details_all
      description: Get the list of text classifiers.
      responses:
        200:
          $ref: "#/responses/text_classifier_instance_detail_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers named instance
########
  /nlu/v2/text_classifiers/{instance_name}:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Create a text classifier.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_create_from_path
      description: Create a new text classifier or reload one from the trash. Returns the details of the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: create_details
        description: The details of the instance to create.
        required: true
        schema:
          $ref: "#/definitions/text_classifier_create_details"

      responses:
        200:
          $ref: "#/responses/text_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - text_classifiers
      summary: Get details of named instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_get_details
      description: Get the details of the named text classifier instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/text_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - text_classifiers
      summary: Delete named instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_del
      description: Delete and return the details of the named text classifier instance. Deleted models can be reloaded from the trash with the create operation.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/text_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers training samples
########
  /nlu/v2/text_classifiers/{instance_name}/training_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Add training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_add_training_samples
      description: Add training samples to named text classifier. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    put:
      tags:
      - text_classifiers
      summary: Update training samples by UUID.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_update_training_samples
      description: Update training samples of the named text classifier. A sample's UUIDs is used to uniquely identify it. Returns the samples that were updated.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of text samples to update. A sample's UUIDs is used to uniquely identify it.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - text_classifiers
      summary: Get training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_get_training_samples
      description: Get the training samples of the named text classifier.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: query
        name: index
        description: The sample index to start from.
        required: false
        type: integer
      - in: query
        name: len
        description: The number of samples to return.
        required: false
        type: integer
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - text_classifiers
      summary: Delete training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_del_training_samples
      description: Delete the listed training samples of the named text classifier. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

  /nlu/v2/text_classifiers/{instance_name}/training_samples_all:
    parameters:
    - $ref: '#/parameters/caller'

    delete:
      tags:
      - text_classifiers
      summary: Delete all training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_del_training_samples_all
      description: Delete all training samples of the named text classifier. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers testing samples
########
  /nlu/v2/text_classifiers/{instance_name}/testing_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Add testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_add_testing_samples
      description: Add testing samples to named text classifier. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    put:
      tags:
      - text_classifiers
      summary: Update testing samples by UUID.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_update_testing_samples
      description: Update training samples of the named text classifier. A sample's UUIDs is used to uniquely identify it. Returns the samples that were updated.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of text samples to update. A sample's UUIDs is used to uniquely identify it.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - text_classifiers
      summary: Get testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_get_testing_samples
      description: Get the testing samples of the named text classifier.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: query
        name: index
        description: The sample index to start from.
        required: false
        type: integer
      - in: query
        name: len
        description: The number of samples to return.
        required: false
        type: integer
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - text_classifiers
      summary: Delete testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_del_testing_samples
      description: Delete the listed testing samples of the named text classifier. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

  /nlu/v2/text_classifiers/{instance_name}/testing_samples_all:
    parameters:
    - $ref: '#/parameters/caller'

    delete:
      tags:
      - text_classifiers
      summary: Delete testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_del_testing_samples_all
      description: Delete all testing samples of the named text classifier. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers train
########
  /nlu/v2/text_classifiers/{instance_name}/train:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Train the named text classifier.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_train
      description: Train the named text classifier with the training and testing data already provided. Returns the details of the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: train_details
        description: The arguments provided to the train operation.
        required: true
        schema:
          $ref: "#/definitions/train_details"
      responses:
        200:
          $ref: "#/responses/text_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers model_params
########
  /nlu/v2/text_classifiers/{instance_name}/params:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Set the model parameters of named text classifier.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_set_params
      description: Set the model parameters of named text classifier.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: model_params
        description: The model parameters.
        required: true
        schema:
          $ref: "#/definitions/model_params"
      responses:
        200:
          $ref: "#/responses/text_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - text_classifiers
      summary: Get the editable model parameters of named text classifier.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_get_params
      description: Get the editable model parameters of named text classifier.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/model_params"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers train online
########
  /nlu/v2/text_classifiers/{instance_name}/online_training_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Train/update the classifier online with the samples provided.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_online_training_samples
      description: Train/update the classifier online with the samples provided. This operation is more efficient than a full re-train. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers retrieve
########
  /nlu/v2/text_classifiers/{instance_name}/retrieve:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Classify text.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_retrieve
      description: Classifies the text and returns a probability sorted list of classes.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: text_input
        description: The input text.
        required: true
        schema:
          $ref: "#/definitions/text_input"
      responses:
        200:
          $ref: "#/responses/scored_label_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers vaporise
########
  /nlu/v2/text_classifiers/{instance_name}/vaporise:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Vaporise the named model.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_vaporise
      description: Permanently vaporises a model even if not trashed.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/text_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers get list of class labels
########
  /nlu/v2/text_classifiers/{instance_name}/labels:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - text_classifiers
      summary: Get list of possible labels.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_get_labels
      description: Returns the classifier's list of possible class labels.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labels"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers curation endpoint
########
  /nlu/v2/text_classifiers/{instance_name}/curate:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Endpoint to aid in the curation of an instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_curate
      description: Returns the list of samples behind a cell of the confusion matrix of the training or testing samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: label_pair
        description: The true label, predicted label and matrix (train/test) to use.
        required: true
        schema:
          $ref: "#/definitions/class_label_pair"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## text_classifiers tsne endpoint
########
  /nlu/v2/text_classifiers/{instance_name}/tsne:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - text_classifiers
      summary: Endpoint to start a TSNE process.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_tsne_post
      description: Starts a TSNE process.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: tsne_settings
        description: The TSNE settings.
        required: true
        schema:
          $ref: "#/definitions/tsne_settings"
      responses:
        200:
          description: successful request
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - text_classifiers
      summary: Get the latest results of TSNE.
      x-swagger-router-controller: rest_api.flask_server.controllers.text_classifiers_controller
      operationId: text_classifier_tsne_get
      description: Get the latest results of TSNE.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/tsne_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"


####################################
####################################
#########
### word_manifolds root
#########
#  /nlu/v2/word_manifolds:
#    parameters:
#    - $ref: '#/parameters/caller'
#
#    post:
#      tags:
#      - word_manifolds
#      summary: Create a word manifold model.
#      x-swagger-router-controller: rest_api.flask_server.controllers.word_manifolds_controller
#      operationId: word_manifold_create
#      description: Create a new word manifold model using an input file or reload one from the trash. Warning! - These models are quite big and each takes a few seconds to load/create. Returns the details of the instance.
#      parameters:
#      - in: body
#        name: create_details
#        description: The details of the word manifold instance to create.
#        required: true
#        schema:
#          $ref: "#/definitions/word_manifold_create_details"
#      responses:
#        200:
#          $ref: "#/responses/word_manifold_instance_detail"
#        400:
#          description: bad request
#        401:
#          $ref: "#/responses/UnauthorizedError"
#
#########
### word_manifolds named instance
#########
#  /nlu/v2/word_manifolds/{instance_name}:
#    parameters:
#    - $ref: '#/parameters/caller'
#
#    get:
#      tags:
#      - word_manifolds
#      summary: Get details of named instance.
#      x-swagger-router-controller: rest_api.flask_server.controllers.word_manifolds_controller
#      operationId: word_manifold_get_details
#      description: Get the details of the named word manifold instance.
#      parameters:
#      - in: path
#        name: instance_name
#        description: The name of the instance.
#        required: true
#        type: string
#      responses:
#        200:
#          $ref: "#/responses/word_manifold_instance_detail"
#        400:
#          description: bad request
#        401:
#          $ref: "#/responses/UnauthorizedError"
#
#    delete:
#      tags:
#      - word_manifolds
#      summary: Delete named instance.
#      x-swagger-router-controller: rest_api.flask_server.controllers.word_manifolds_controller
#      operationId: word_manifold_del
#      description: Delete and return the details of the word manifold instance. Deleted models can be reloaded from the trash with the create operation.
#      parameters:
#      - in: path
#        name: instance_name
#        description: The name of the instance.
#        required: true
#        type: string
#      responses:
#        200:
#          $ref: "#/responses/word_manifold_instance_detail"
#        400:
#          description: bad request
#        401:
#          $ref: "#/responses/UnauthorizedError"
#
#########
### word_manifolds vaporise
#########
#  /nlu/v2/word_manifolds/{instance_name}/vaporise:
#    parameters:
#    - $ref: '#/parameters/caller'
#
#    post:
#      tags:
#      - word_manifolds
#      summary: Vaporise the named model.
#      x-swagger-router-controller: rest_api.flask_server.controllers.word_manifolds_controller
#      operationId: word_manifold_vaporise
#      description: Permanently vaporises a model even if not trashed.
#      parameters:
#      - in: path
#        name: instance_name
#        description: The name of the instance.
#        required: true
#        type: string
#      responses:
#        200:
#          $ref: "#/responses/word_manifold_instance_detail"
#        400:
#          description: bad request
#        401:
#          $ref: "#/responses/UnauthorizedError"
#
#########
### word_manifolds vocab
#########
#  /nlu/v2/word_manifolds/{instance_name}/vocab:
#    parameters:
#    - $ref: '#/parameters/caller'
#
#    post:
#      tags:
#      - word_manifolds
#      summary: Add new words.
#      x-swagger-router-controller: rest_api.flask_server.controllers.word_manifolds_controller
#      operationId: word_manifold_add_similar_words
#      description: Add new words to the manifold that are similar to existing words and save the manifold. Warning! - Because this operation saves the updated word manifold to the store it could take a few seconds to complete. Returns the details of the updated instance.
#      parameters:
#      - in: path
#        name: instance_name
#        description: The name of the instance.
#        required: true
#        type: string
#      - in: body
#        name: new_word_list
#        description: List of new words.
#        required: true
#        schema:
#          type: array
#          items:
#            $ref: "#/definitions/new_word"
#      responses:
#        200:
#          $ref: "#/responses/word_manifold_instance_detail"
#        400:
#          description: bad request
#        401:
#          $ref: "#/responses/UnauthorizedError"
#
# ########
# ## word_manifolds similar_words
# ########
#   /nlu/v2/word_manifolds/{instance_name}/similar_words:
#     parameters:
#     - $ref: '#/parameters/caller'
#
#     post:
#       tags:
#       - word_manifolds
#       summary: Find similar words.
#       x-swagger-router-controller: rest_api.flask_server.controllers.word_manifolds_controller
#       operationId: word_manifold_get_similar_words
#       description: Returns words from the manifold that are similar to the parameter word.
#       parameters:
#       - in: path
#         name: instance_name
#         description: The name of the instance.
#         required: true
#         type: string
#       - in: body
#         name: word_and_threshold
#         description: A word token and an accompanying threshold.
#         required: true
#         schema:
#           $ref: "#/definitions/word_and_threshold"
#       responses:
#         200:
#           $ref: "#/responses/word_and_distance_list"
#         400:
#           description: bad request
#         401:
#           $ref: "#/responses/UnauthorizedError"
#
# ########
# ## word_manifolds spell_correct
# ########
#   /nlu/v2/word_manifolds/{instance_name}/spell_correct:
#     parameters:
#     - $ref: '#/parameters/caller'
#
#     post:
#       tags:
#       - word_manifolds
#       summary: Spell correct a word.
#       x-swagger-router-controller: rest_api.flask_server.controllers.word_manifolds_controller
#       operationId: word_manifold_spell_correct
#       description: Spell correct a word replacing it with the most likely word from the manifold. Returns one or more scored candidate words.
#       parameters:
#       - in: path
#         name: instance_name
#         description: The name of the instance.
#         required: true
#         type: string
#       - in: body
#         name: text_input
#         description: The input text.
#         required: true
#         schema:
#           $ref: "#/definitions/text_input"
#       responses:
#         200:
#           $ref: "#/responses/word_and_distance_list"
#         400:
#           description: bad request
#         401:
#           $ref: "#/responses/UnauthorizedError"

###################################
###################################
########
## intent_classifiers root
########
  /nlu/v2/intent_classifiers:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Create an intent classifier.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_create
      description: Create a new intent classifier or reload one from the trash. Returns the details of the instance.
      parameters:
      - in: body
        name: create_details
        description: The details of the instance to create.
        required: true
        schema:
          $ref: "#/definitions/intent_classifier_create_details"
      responses:
        200:
          $ref: "#/responses/intent_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - intent_classifiers
      summary: Get list of intent classifiers.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_get_details_all
      description: Returns the list of intent classifiers.
      responses:
        200:
          $ref: "#/responses/intent_classifier_instance_detail_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers named instance
########
  /nlu/v2/intent_classifiers/{instance_name}:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - intent_classifiers
      summary: Get details of named instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_get_details
      description: Returns the details of the named intent classifier instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/intent_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - intent_classifiers
      summary: Delete named instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_del
      description: Delete and return the details of the named intent classifier instance. Deleted models can be reloaded from the trash with the create operation.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/intent_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers training samples
########
  /nlu/v2/intent_classifiers/{instance_name}/training_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Add training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_add_training_samples
      description: Add training samples to named intent classifier. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    put:
      tags:
      - intent_classifiers
      summary: Update training samples by UUID.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_update_training_samples
      description: Update training samples of the named text classifier. A sample's UUIDs is used to uniquely identify it. Returns the samples that were updated.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of text samples to update. A sample's UUIDs is used to uniquely identify it.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - intent_classifiers
      summary: Get training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_get_training_samples
      description: Returns the training samples of the named intent classifier.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: query
        name: index
        description: The sample index to start from.
        required: false
        type: integer
      - in: query
        name: len
        description: The number of samples to return.
        required: false
        type: integer
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - intent_classifiers
      summary: Delete training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_del_training_samples
      description: Delete the listed training samples of the named intent classifier. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

  /nlu/v2/intent_classifiers/{instance_name}/training_samples_all:
    parameters:
    - $ref: '#/parameters/caller'

    delete:
      tags:
      - intent_classifiers
      summary: Delete all training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_del_training_samples_all
      description: Delete the listed training samples of the named intent classifier. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers testing samples
########
  /nlu/v2/intent_classifiers/{instance_name}/testing_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Add testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_add_testing_samples
      description: Add testing samples to named intent classifier. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    put:
      tags:
      - intent_classifiers
      summary: Update testning samples by UUID.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_update_testing_samples
      description: Update training samples of the named text classifier. A sample's UUIDs is used to uniquely identify it. Returns the samples that were updated.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of text samples to update. A sample's UUIDs is used to uniquely identify it.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - intent_classifiers
      summary: Get testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_get_testing_samples
      description: Returns the testing samples of the named intent classifier.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: query
        name: index
        description: The sample index to start from.
        required: false
        type: integer
      - in: query
        name: len
        description: The number of samples to return.
        required: false
        type: integer
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - intent_classifiers
      summary: Delete testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_del_testing_samples
      description: Delete the listed testing samples of the named intent classifier. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

  /nlu/v2/intent_classifiers/{instance_name}/testing_samples_all:
    parameters:
    - $ref: '#/parameters/caller'

    delete:
      tags:
      - intent_classifiers
      summary: Delete all testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_del_testing_samples_all
      description: Delete all testing samples of the named intent classifier. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers train
########
  /nlu/v2/intent_classifiers/{instance_name}/train:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Train the named intent classifier.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_train
      description: Train the named intent classifier with the training and testing data already provided. Returns the updated instance details.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: train_details
        description: The arguments provided to the train operation.
        required: true
        schema:
          $ref: "#/definitions/train_details"
      responses:
        200:
          $ref: "#/responses/intent_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers model_params
########
  /nlu/v2/intent_classifiers/{instance_name}/params:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Set the model parameters of named intent classifier.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_set_params
      description: Set the model parameters of named intent classifier.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: model_params
        description: The model parameters.
        required: true
        schema:
          $ref: "#/definitions/model_params"
      responses:
        200:
          $ref: "#/responses/intent_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - intent_classifiers
      summary: Get the editable model parameters of named intent classifier.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_get_params
      description: Get the editable model parameters of named intent classifier.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/model_params"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers train online
########
  /nlu/v2/intent_classifiers/{instance_name}/online_training_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Train/update the classifier online with the samples provided.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_online_training_samples
      description: Train/update the classifier online with the samples provided. This operation is more efficient than a full re-train. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers retrieve
########
  /nlu/v2/intent_classifiers/{instance_name}/retrieve:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Classify intent.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_retrieve
      description: Classifies the intent and returns a probability sorted list of classes.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: text_input
        description: The input text.
        required: true
        schema:
          $ref: "#/definitions/text_input"
      responses:
        200:
          $ref: "#/responses/scored_label_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers vaporise
########
  /nlu/v2/intent_classifiers/{instance_name}/vaporise:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Vaporise the named model.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_vaporise
      description: Permanently vaporises a model even if not trashed.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/intent_classifier_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers get list of class labels
########
  /nlu/v2/intent_classifiers/{instance_name}/labels:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - intent_classifiers
      summary: Get list of possible labels.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_get_labels
      description: Returns the classifier's list of possible class labels.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labels"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## intent_classifiers curation endpoint
########
  /nlu/v2/intent_classifiers/{instance_name}/curate:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Endpoint to aid in the curation of an instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_curate
      description: Returns the list of samples behind a cell of the confusion matrix of the training or testing samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: label_pair
        description: The true label, predicted label and matrix (train/test) to use.
        required: true
        schema:
          $ref: "#/definitions/class_label_pair"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"


########
## intent_classifiers tsne endpoint
########
  /nlu/v2/intent_classifiers/{instance_name}/tsne:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - intent_classifiers
      summary: Endpoint to start a TSNE process.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_tsne_post
      description: Starts a TSNE process.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: tsne_settings
        description: The TSNE settings.
        required: true
        schema:
          $ref: "#/definitions/tsne_settings"
      responses:
        200:
          description: successful request
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - intent_classifiers
      summary: Get the latest results of TSNE.
      x-swagger-router-controller: rest_api.flask_server.controllers.intent_classifiers_controller
      operationId: intent_classifier_tsne_get
      description: Get the latest results of TSNE.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/tsne_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"


###################################
###################################
########
## FAQ matchers root
########
  /nlu/v2/faq_matchers:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Create an FAQ matcher.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_create
      description: Create a new faq matcher or reload one from the trash. Returns the details of the instance.
      parameters:
      - in: body
        name: create_details
        description: The details of the instance to create.
        required: true
        schema:
          $ref: "#/definitions/faq_matcher_create_details"
      responses:
        200:
          $ref: "#/responses/faq_matcher_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - faq_matchers
      summary: Get list of FAQ matchers.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_get_details_all
      description: Returns the list of faq matchers.
      responses:
        200:
          $ref: "#/responses/faq_matcher_instance_detail_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers named instance
########
  /nlu/v2/faq_matchers/{instance_name}:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - faq_matchers
      summary: Get details of named instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_get_details
      description: Get the details of the named FAQ matcher instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/faq_matcher_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - faq_matchers
      summary: Delete named instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_del
      description: Delete and return the details of the named FAQ matcher instance. Deleted models can be reloaded from the trash with the create operation.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/faq_matcher_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers training samples
########
  /nlu/v2/faq_matchers/{instance_name}/training_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Add training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_add_training_samples
      description: Add training samples to named faq matcher. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    put:
      tags:
      - faq_matchers
      summary: Update training samples by UUID.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_update_training_samples
      description: Update training samples of the named text classifier. A sample's UUIDs is used to uniquely identify it. Returns the samples that were updated.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of text samples to update. A sample's UUIDs is used to uniquely identify it.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - faq_matchers
      summary: Get training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_get_training_samples
      description: Returns the training samples of the named faq matcher.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: query
        name: index
        description: The sample index to start from.
        required: false
        type: integer
      - in: query
        name: len
        description: The number of samples to return.
        required: false
        type: integer
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - faq_matchers
      summary: Delete training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_del_training_samples
      description: Delete the listed training samples of the named FAQ matcher. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

  /nlu/v2/faq_matchers/{instance_name}/training_samples_all:
    parameters:
    - $ref: '#/parameters/caller'

    delete:
      tags:
      - faq_matchers
      summary: Delete all training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_del_training_samples_all
      description: Delete all training samples of the named FAQ matcher. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers testing samples
########
  /nlu/v2/faq_matchers/{instance_name}/testing_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Add testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_add_testing_samples
      description: Add testing samples to named faq matcher. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    put:
      tags:
      - faq_matchers
      summary: Update testning samples by UUID.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_update_testing_samples
      description: Update training samples of the named text classifier. A sample's UUIDs is used to uniquely identify it. Returns the samples that were updated.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of text samples to update. A sample's UUIDs is used to uniquely identify it.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - faq_matchers
      summary: Get testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_get_testing_samples
      description: Returns the testing samples of the named faq matcher.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: query
        name: index
        description: The sample index to start from.
        required: false
        type: integer
      - in: query
        name: len
        description: The number of samples to return.
        required: false
        type: integer
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - faq_matchers
      summary: Delete testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_del_testing_samples
      description: Delete the listed testing samples of the named FAQ matcher. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

  /nlu/v2/faq_matchers/{instance_name}/testing_samples_all:
    parameters:
    - $ref: '#/parameters/caller'

    delete:
      tags:
      - faq_matchers
      summary: Delete all testing samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_del_testing_samples_all
      description: Delete all testing samples of the named FAQ matcher. Returns the deleted samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers train
########
  /nlu/v2/faq_matchers/{instance_name}/train:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Train the named FAQ matcher.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_train
      description: Train the named FAQ matcher with the training and testing data already provided. Returns the updated instance detail.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: train_details
        description: The arguments provided to the train operation.
        required: true
        schema:
          $ref: "#/definitions/train_details"
      responses:
        200:
          $ref: "#/responses/faq_matcher_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers model_params
########
  /nlu/v2/faq_matchers/{instance_name}/params:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Set the model parameters of named FAQ matcher.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_set_params
      description: Set the model parameters of FAQ matcher.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: model_params
        description: The model parameters.
        required: true
        schema:
          $ref: "#/definitions/model_params"
      responses:
        200:
          $ref: "#/responses/faq_matcher_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - faq_matchers
      summary: Get the editable model parameters of named FAQ matcher.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_get_params
      description: Get the editable model parameters of FAQ matcher.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/model_params"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers train online
########
  /nlu/v2/faq_matchers/{instance_name}/online_training_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Train/update the classifier online with the samples provided.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_online_training_samples
      description: Train/update the classifier online with the samples provided. This operation is more efficient than a full re-train. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: labelled_text_sample_list
        description: List of labelled text samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/labelled_text_sample"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers retrieve
########
  /nlu/v2/faq_matchers/{instance_name}/retrieve:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Match retrieve and FAQ.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_retrieve
      description: Matchers the FAQ and returns a probability sorted list of answer labels.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: text_input
        description: The input text.
        required: true
        schema:
          $ref: "#/definitions/text_input"
      responses:
        200:
          $ref: "#/responses/scored_label_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers vaporise
########
  /nlu/v2/faq_matchers/{instance_name}/vaporise:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Vaporise the named model.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_vaporise
      description: Permanently vaporises a model even if not trashed.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/faq_matcher_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers get list of class labels
########
  /nlu/v2/faq_matchers/{instance_name}/labels:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - faq_matchers
      summary: Get list of possible labels.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_get_labels
      description: Returns the classifier's list of possible class labels.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labels"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers curation endpoint
########
  /nlu/v2/faq_matchers/{instance_name}/curate:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Endpoint to aid in the curation of an instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_curate
      description: Returns the list of samples behind a cell of the confusion matrix of the training or testing samples.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: label_pair
        description: The true label, predicted label and matrix (train/test) to use.
        required: true
        schema:
          $ref: "#/definitions/class_label_pair"
      responses:
        200:
          $ref: "#/responses/labelled_text_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## faq_matchers tsne endpoint
########
  /nlu/v2/faq_matchers/{instance_name}/tsne:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - faq_matchers
      summary: Endpoint to start a TSNE process.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_tsne_post
      description: Starts a TSNE process.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: tsne_settings
        description: The TSNE settings.
        required: true
        schema:
          $ref: "#/definitions/tsne_settings"
      responses:
        200:
          description: successful request
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - faq_matchers
      summary: Get the latest results of TSNE.
      x-swagger-router-controller: rest_api.flask_server.controllers.faq_matchers_controller
      operationId: faq_matcher_tsne_get
      description: Get the latest results of TSNE.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/tsne_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"


###################################
###################################
########
## Extract a list of dates from the text input.
########
  /nlu/v2/date_parsers/{instance_name}/retrieve:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - date_parsers
      summary: Extract dates.
      x-swagger-router-controller: rest_api.flask_server.controllers.date_parsers_controller
      operationId: date_parser_retrieve
      description: Parses one or more dates from text.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: text_input
        description: The input text.
        required: true
        schema:
          $ref: "#/definitions/text_input"
      responses:
        200:
          $ref: "#/responses/date_entity_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"


###################################
###################################
########
## Detect the sentiment of the text input - Generic, always available, model.
########
  /nlu/v2/sentiment_detectors/{instance_name}/retrieve:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - sentiment_detectors
      summary: Detect sentiment.
      x-swagger-router-controller: rest_api.flask_server.controllers.sentiment_detectors_controller
      operationId: sentiment_detector_retrieve
      description: Detect the general sentiment in the input text.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: text_input
        description: The input text.
        required: true
        schema:
          $ref: "#/definitions/text_input"
      responses:
        200:
          $ref: "#/responses/sentiment"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"


###################################
###################################
########
## Detect the emotion in the text input - Generic, always available, model.
########
  /nlu/v2/emotion_classifiers/{instance_name}/retrieve:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - emotion_classifiers
      summary: Classify emotion.
      x-swagger-router-controller: rest_api.flask_server.controllers.emotion_classifiers_controller
      operationId: emotion_classifier_retrieve
      description: Classifies the emotion in the text and returns a probability sorted list of classes.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: text_input
        description: The input text.
        required: true
        schema:
          $ref: "#/definitions/text_input"
      responses:
        200:
          $ref: "#/responses/scored_label_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## emotion_classifiers get list of class labels
########
  /nlu/v2/emotion_classifiers/{instance_name}/labels:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - emotion_classifiers
      summary: Get list of possible labels.
      x-swagger-router-controller: rest_api.flask_server.controllers.emotion_classifiers_controller
      operationId: emotion_classifier_get_labels
      description: Returns the classifier's list of possible class labels.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/labels"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"


###################################
###################################
########
## crf_entity_extractors root
########
  /nlu/v2/crf_entity_extractors:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - crf_entity_extractors
      summary: Create a crf entity extractor.
      x-swagger-router-controller: rest_api.flask_server.controllers.crf_entity_extractors_controller
      operationId: crf_entity_extractor_create
      description: Create a new crf entity extractor or reload one from the trash.
      parameters:
      - in: body
        name: create_details
        description: The details of the instance to create.
        required: true
        schema:
          $ref: "#/definitions/crf_entity_extractor_create_details"
      responses:
        200:
          $ref: "#/responses/crf_entity_extractor_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - crf_entity_extractors
      summary: Get list of crf entity extractors.
      x-swagger-router-controller: rest_api.flask_server.controllers.crf_entity_extractors_controller
      operationId: crf_entity_extractor_get_details_all
      description: Get the list of crf entity extractors.
      responses:
        200:
          $ref: "#/responses/crf_entity_extractor_instance_detail_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## crf_entity_extractors named instance
########
  /nlu/v2/crf_entity_extractors/{instance_name}:
    parameters:
    - $ref: '#/parameters/caller'

    get:
      tags:
      - crf_entity_extractors
      summary: Get details of named instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.crf_entity_extractors_controller
      operationId: crf_entity_extractor_get_details
      description: Get the details of the named crf entity extractor instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/crf_entity_extractor_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - crf_entity_extractors
      summary: Delete named instance.
      x-swagger-router-controller: rest_api.flask_server.controllers.crf_entity_extractors_controller
      operationId: crf_entity_extractor_del
      description: Delete and get the details of the named crf entity extractor instance. Deleted models can be reloaded from the trash with the create operation.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      responses:
        200:
          $ref: "#/responses/crf_entity_extractor_instance_detail"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

########
## crf_entity_extractors training samples
########
  /nlu/v2/crf_entity_extractors/{instance_name}/training_samples:
    parameters:
    - $ref: '#/parameters/caller'

    post:
      tags:
      - crf_entity_extractors
      summary: Add training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.crf_entity_extractors_controller
      operationId: crf_entity_extractor_add_training_samples
      description: Add training samples to named extractor. Returns the samples added to the instance.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: crf_sample_list
        description: List of crf samples.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/crf_sample"
      responses:
        200:
          $ref: "#/responses/crf_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    put:
      tags:
      - crf_entity_extractors
      summary: Update training samples by UUID.
      x-swagger-router-controller: rest_api.flask_server.controllers.crf_entity_extractors_controller
      operationId: crf_entity_extractor_update_training_samples
      description: Update training samples of the named text classifier. A sample's UUIDs is used to uniquely identify it. Returns the samples that were updated.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: body
        name: crf_sample_list
        description: List of crf samples. A sample's UUIDs is used to uniquely identify it.
        required: true
        schema:
          type: array
          items:
            $ref: "#/definitions/crf_sample"
      responses:
        200:
          $ref: "#/responses/crf_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    get:
      tags:
      - crf_entity_extractors
      summary: Get training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.crf_entity_extractors_controller
      operationId: crf_entity_extractor_get_training_samples
      description: Get the training samples of the named extractor.
      parameters:
      - in: path
        name: instance_name
        description: The name of the instance.
        required: true
        type: string
      - in: query
        name: index
        description: The sample index to start from.
        required: false
        type: integer
      - in: query
        name: len
        description: The number of samples to return.
        required: false
        type: integer
      responses:
        200:
          $ref: "#/responses/crf_sample_list"
        400:
          description: bad request
        401:
          $ref: "#/responses/UnauthorizedError"

    delete:
      tags:
      - crf_entity_extractors
      summary: Delete training samples.
      x-swagger-router-controller: rest_api.flask_server.controllers.crf_entity_extractors_controller
[...]
